<configuration>
  <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <includeCallerData>false</includeCallerData>
      <fieldNames>
        <timestamp>timestamp</timestamp>
        <message>message</message>
        <logger>logger</logger>
        <level>level</level>
      </fieldNames>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="JSON"/>
  </root>

  <logger name="org.hibernate.SQL" level="WARN"/>
  <logger name="org.hibernate.type" level="WARN"/>
  <logger name="org.springframework.security" level="WARN"/>
  <logger name="org.springframework.web" level="WARN"/>
  <logger name="org.quartz" level="WARN"/>
  <logger name="com.meridian" level="INFO"/>
</configuration>
